/*----------------------------------------------------*/
/*                      HTML                          */
/*----------------------------------------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;}

html {
    font-family: 'Titillium Web', sans-serif;
    color: white;
    height: 100vh;
    min-width: 350px;
    background-image: linear-gradient(to right, #8FFFE4 0%, #8FFFE4 50%, white 50%, white 0%);}

img {
    max-width: 100%;
    height: auto;}

body {accent-color: #86BBD8;}

main {
    flex: 1;
    max-width: 800px;
    padding: 20px;
    margin: auto;}

header {
    color: black;
    padding: 20px;
    width: 100%;}

nav {
    display: none;
    margin-left: auto;}

nav ul {list-style: none;}

nav ul li {
    text-align: right;
    line-height: 40px;
    padding-right: 30px;}

nav li a{
    color: black;
    text-decoration: none;}

nav li a:hover {
    color: #FFE082;
    transition: 0.2s;}

nav li a:active {color: white;}

h1, h2, h3 {
    color: black;
    padding: 20px;}

section {margin: 15px;}
p {padding: 10px;}
li {padding: 10px;}

footer {
    color: black;
    flex-shrink: 0;
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: rgba(227, 227, 227, 0.22);
}

button {
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-around;
    width: 200px;
    line-height: 60px;
    border: none;
    border-radius: 3px;
    margin: 10px;}

button:hover {
    color: black;
    background-color: white;
    cursor: pointer;
    transition: 0.2s;
}

button:active {
    transform: scale(0.9);
    background-color: black}

button img {
    align-self: center;
    width: 30px;
}

/*----------------------------------------------------*/
/*                CLASSES AND IDS                     */
/*----------------------------------------------------*/

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;}

.dice-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 160px;
    padding: 30px 0 30px 0;
    justify-content: space-evenly;}

.dice {max-width: 40%;}

.score {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFE082;
    border: 2px solid black;
    border-radius: 3px;
    width: 80px;
    margin-top: 30px;}

.header-bar {
    height: 80px;
    display: flex;}

.menu-img {
    background-color: transparent;
    max-width: 30px;}

.btn-menu {
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: transparent;
    border: none;
    margin-left: auto;
    padding-right: 30px;}

.sec-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1100px;
    margin: auto;
    color: black;
    border-radius: 3px;
    background-image: linear-gradient(to left, #8FFFE4 0%, #8FFFE4 50%, white 50%, white 0%);}

.sec-header {
    width: 100%;
    color: black;}

.blurred{
    transition: 0.4s;
    filter: blur(5px);}

.show {display: block;}

@keyframes bounce {
    0% {transform: translateY(0);}
    100% {transform: translateY(-10px);}
}

.bounce {
    animation: bounce 0.15s;
    animation-direction: alternate;
    animation-iteration-count: 2;
}

.pop {
    animation: pop .5s;
    animation-direction: alternate;}

@keyframes pop {
    0% {transform: scale(1.1);}
    100% {transform: scale(1);}
}

.disabled {
    background-color: grey;
    pointer-events: none;}

.win-pop {
    animation: win-pop .2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes win-pop{
    0% {transform: scale(1.2);}
    100% {transform: scale(1);}
}

#game-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: row;
    width: 100%;}

#blur-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;}

#content {flex: 1 0 auto;}

#button-div {
    grid-column: 1 / span2;
    padding: 20px;
    display: flex;
    justify-content: center;}

#roll {
    padding: 5px 30px 5px 30px;
    width: 180px;}

#roll #button-dice {filter: invert(1);}

#roll:hover {
    color: black;
    background-color: #F25757;}

#roll:hover #button-dice {filter: invert(0);}

#pop-up {
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform:translate(-50%, 50%);
    background-color: #8FFFE4;
    border: 2px solid black;
    border-radius: 3px;
    margin: 20px;
    padding: 20px;
    transition: 0.5s;
    opacity: 0;
    display: none;
    flex-direction: column;
    align-items: center;
}

#pop-up h2 {text-align: center;}
#pop-up img {padding: 10px}

/*----------------------------------------------------*/
/*                 MEDIA QUERIES                      */
/*----------------------------------------------------*/

@media (max-width: 400px) {
    h3 {font-size: 12px;}
}

@media (min-width: 500px) {

    footer {
        flex-direction: row;
        justify-content: space-evenly;
        padding: 30px;}

    .value {font-size: 24px;}

    .score {
        width: 140px;
        font-size: 32px;
    }
}

@media (min-width: 700px) {

    main {width: 85vw;}
    nav {display: flex;}
    nav ul {display: flex;}
    nav ul li {padding: 20px;}

    .header-w-nav {display: flex;}
    .btn-menu {display: none;}
}

